<div class="container">
  <div class="row">
      <div class="col-md-12">

        <%= link_to 'アカウント一覧', admin_users_path %>
        </br>
        <%= link_to '申請一覧', admin_dashboards_path %>

      </div>
  </div>
</div>



