<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="mx-auto">

        <h5><%= link_to 'ユーザー 一覧', admin_users_path %></h5>
        </br>
        <h5><%= link_to '飲食店の申請履歴一覧', admin_dashboards_path %></h5>
        </br>
        <h5><%= link_to '宿泊施設の申請履歴一覧', admin_lodging_dashboards_path %></h5>

      </div>
    </div>
  </div>
</div>



