<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>宿泊施設の申請履歴一覧</h2>

        <table class="table table-striped">
        　<thead>
            <tr>
              <th>宿泊施設名</th>
              <th>申請者</th>
              <th>ステータス</th>
            </tr>
          </thead>

          <tbody>
            <% @lodging.each do |lodging| %>
              <tr>
                <td><%= link_to lodging.lodging_name, admin_lodging_dashboard_path(lodging.id) %></td>
                <td><%= link_to lodging.user.name, user_path(lodging.user_id) %></td>
                <td><%= lodging.approved ?  "承認済み" : "未承認" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

    </div>
  </div>
</div>
