
<main>
  <div class="container">
    
    <div class="row">
      <div class="col-md-4 offset-md-1 d-flex flex-column justify-content-center " style="height: 40vh;">
        <h3 style="color: #545454; overflow-wrap: normal; white-space: nowrap;">愛犬連れのお出かけをもっと身近に</h3>
        <h5 style="color: #545454; overflow-wrap: normal; white-space: nowrap;">〜ドッグフレンドリーな飲食店と宿泊施設が見つかる〜</h5>
        <%= link_to "ログイン", new_user_session_path , class: "btn btn-block btn-outline-success mt-2" %>
        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-outline-secondary btn-block mt-2 sign_in", method: :post %>
        <p>新規登録は<%= link_to "こちら", new_user_registration_path %></p>
      </div>

      <div class="col-md-7 d-flex flex-column justify-content-end" style="height: 50vh; align-items-end;">
        <%= image_tag "top_image.png", alt:"Top_image", style: "max-width: 300%; max-height: 300%;" %>
      </div>
    </div>

  </div>
</main>