<div class="container">
  <div class="row">

      <h3>愛犬連れのお出かけをもっと身近に</h3>
      </br>
      <h5>〜ドッグフレンドリーな飲食店と宿泊施設が見つかる〜</h5>

      <div class="col-md-5">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-secondary" %>
        <%= link_to "ログイン", new_user_session_path , class: "btn btn-outline-success" %>
      </div>

      <div class="col-md-6 offset-md-1">
      </div>


  </div>
</div>
