
<main>
  <div class="container">

    <div class="row">

      <div class="col-md-12">

      </div>

    </div>

    <div class="row">
      <div class="col-md-5 offset-md-1">

        <%= link_to "ログイン", new_user_session_path , class: "btn btn-outline-success" %>
        </br>
        <%= link_to "新規登録はこちら", new_user_registration_path %>

        <%= link_to "ゲストログイン（閲覧用）", users_guest_sign_in_path, class: "btn btn-outline-secondary btn-sm btn-block mb-3 sign_in", method: :post %>

      </div>

      <div class="col-md-6">

      </div>

    </div>

  </div>
</main>