<div class="container">
  <div class="row">
      <div class="col-md-12">

        <% @eatery.each do |eatery| %>
        <div>
        <%= link_to eatery.restaurant_name, eatery_path(eatery.id) %>
        </br>
        <i class="fa-solid fa-location-dot"></i> <%= eatery.address %>
        </div>
        <% end %>

      </div>
  </div>
</div>