// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-container {
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 200px;
}